@model Client.Models.StockMovementModel

@{
    ViewData["Title"] = "Create";
}
@if (!string.IsNullOrEmpty(ViewBag.message))
{
    <div class="alert alert-danger">
        @ViewBag.message
    </div>
}

<h1>Create</h1>

<h4>StockMovementModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="dateOfMovement" class="control-label"></label>
                <input asp-for="dateOfMovement" class="form-control" />
                <span asp-validation-for="dateOfMovement" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label>Articulos :</label>
                <select name="itemID" @* *asp-for="idItem" *@ class="formcontrol" asp-items="ViewBag.items">
                    <option value="" disabled>Elija el articulo :</option>
                    @foreach (SelectListItem c in ViewBag.items)
                    {
                        <option value="@c.Value">@c.Text</option>
                    }
                </select>
                <span @* asp-validation-for="idItem" *@ class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="itemID" class="control-label"></label>
                <input asp-for="itemID" class="form-control" />
                <span asp-validation-for="itemID" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="mailUser" class="control-label"></label>
                <input asp-for="mailUser" class="form-control" />
                <span asp-validation-for="mailUser" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="movementTypeID" class="control-label"></label>
                <input asp-for="movementTypeID" class="form-control" />
                <span asp-validation-for="movementTypeID" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label>Tipos de movimiento :</label>
                <select name="movementTypeID" @* *asp-for="idItem" *@ class="formcontrol" asp-items="ViewBag.movementType">
                    <option value="" disabled>Elija el tipo de movimiento :</option>
                    @foreach (SelectListItem c in ViewBag.movementType)
                    {
                        <option value="@c.Value">@c.Text</option>
                    }
                </select>
                <span @* asp-validation-for="idItem" *@ class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
